USE [master]
GO
/****** Object:  Database [MNU_Watches]    Script Date: 5/17/2026 12:50:08 AM ******/
CREATE DATABASE [MNU_Watches]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MNU_Watches', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.WORK\MSSQL\DATA\MNU_Watches.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MNU_Watches_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.WORK\MSSQL\DATA\MNU_Watches_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MNU_Watches].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MNU_Watches]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 5/17/2026 12:50:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[BrandID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Country] [nvarchar](100) NULL,
	[FoundedYear] [int] NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movement]    Script Date: 5/17/2026 12:50:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movement](
	[MovementID] [int] IDENTITY(1,1) NOT NULL,
	[CaliberName] [nvarchar](100) NOT NULL,
	[VibrationsPerHour] [int] NULL,
	[BrandID] [int] NULL,
 CONSTRAINT [PK_Movement] PRIMARY KEY CLUSTERED 
(
	[MovementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Watch]    Script Date: 5/17/2026 12:50:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Watch](
	[WatchID] [int] IDENTITY(1,1) NOT NULL,
	[SerialNumber] [nvarchar](100) NOT NULL,
	[ModelName] [nvarchar](100) NOT NULL,
	[ProductionYear] [int] NULL,
	[WatchImage] [nvarchar](max) NULL,
	[PurchasePrice] [decimal](18, 2) NULL,
	[Status] [nvarchar](50) NULL,
	[BrandID] [int] NULL,
	[MovementID] [int] NULL,
 CONSTRAINT [PK_Watch] PRIMARY KEY CLUSTERED 
(
	[WatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_WatchFullDetails]    Script Date: 5/17/2026 12:50:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_WatchFullDetails] AS
SELECT 
    w.WatchID,
    w.SerialNumber,
    b.Name AS BrandName,        -- جبنا اسم الماركة
    w.ModelName,
    w.ProductionYear,
    m.CaliberName,              -- جبنا اسم الماكينة
    w.PurchasePrice,
    w.Status,
    w.WatchImage
FROM 
    Watch w
JOIN 
    Brand b ON w.BrandID = b.BrandID
JOIN 
    Movement m ON w.MovementID = m.MovementID;

GO
/****** Object:  Table [dbo].[AuctionRecord]    Script Date: 5/17/2026 12:50:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuctionRecord](
	[AuctionID] [int] IDENTITY(1,1) NOT NULL,
	[AuctionHouse] [nvarchar](100) NULL,
	[AuctionDate] [date] NULL,
	[SalePrice] [decimal](18, 2) NULL,
	[CommissionFee] [decimal](18, 2) NULL,
	[WatchID] [int] NULL,
 CONSTRAINT [PK_AuctionRecord] PRIMARY KEY CLUSTERED 
(
	[AuctionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuthenticationReport]    Script Date: 5/17/2026 12:50:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthenticationReport](
	[ReportID] [int] IDENTITY(1,1) NOT NULL,
	[AuthenticatorName] [nvarchar](100) NULL,
	[ResultStatus] [nvarchar](100) NULL,
	[ReportDate] [date] NULL,
	[WatchID] [int] NULL,
 CONSTRAINT [PK_AuthReport] PRIMARY KEY CLUSTERED 
(
	[ReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feature]    Script Date: 5/17/2026 12:50:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feature](
	[FeatureID] [int] IDENTITY(1,1) NOT NULL,
	[FeatureName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Feature] PRIMARY KEY CLUSTERED 
(
	[FeatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Part]    Script Date: 5/17/2026 12:50:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Part](
	[WatchID] [int] NOT NULL,
	[PartName] [nvarchar](100) NOT NULL,
	[Material] [nvarchar](100) NULL,
	[Condition] [nvarchar](100) NULL,
	[OriginalityStatus] [nvarchar](100) NULL,
 CONSTRAINT [PK_Part] PRIMARY KEY CLUSTERED 
(
	[WatchID] ASC,
	[PartName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Watch_Feature]    Script Date: 5/17/2026 12:50:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Watch_Feature](
	[WatchID] [int] NOT NULL,
	[FeatureID] [int] NOT NULL,
 CONSTRAINT [PK_WatchFeature] PRIMARY KEY CLUSTERED 
(
	[WatchID] ASC,
	[FeatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AuctionRecord] ON 

INSERT [dbo].[AuctionRecord] ([AuctionID], [AuctionHouse], [AuctionDate], [SalePrice], [CommissionFee], [WatchID]) VALUES (1, N'Sotheby''s', CAST(N'2021-05-15' AS Date), CAST(30000.00 AS Decimal(18, 2)), CAST(3000.00 AS Decimal(18, 2)), 2)
INSERT [dbo].[AuctionRecord] ([AuctionID], [AuctionHouse], [AuctionDate], [SalePrice], [CommissionFee], [WatchID]) VALUES (2, N'Christie''s', CAST(N'2022-11-20' AS Date), CAST(95000.00 AS Decimal(18, 2)), CAST(9500.00 AS Decimal(18, 2)), 4)
INSERT [dbo].[AuctionRecord] ([AuctionID], [AuctionHouse], [AuctionDate], [SalePrice], [CommissionFee], [WatchID]) VALUES (3, N'Phillips', CAST(N'2019-04-10' AS Date), CAST(2500.00 AS Decimal(18, 2)), CAST(250.00 AS Decimal(18, 2)), 6)
SET IDENTITY_INSERT [dbo].[AuctionRecord] OFF
GO
SET IDENTITY_INSERT [dbo].[AuthenticationReport] ON 

INSERT [dbo].[AuthenticationReport] ([ReportID], [AuthenticatorName], [ResultStatus], [ReportDate], [WatchID]) VALUES (1, N'Hazem', N'100% Authentic', CAST(N'2024-01-01' AS Date), 1)
INSERT [dbo].[AuthenticationReport] ([ReportID], [AuthenticatorName], [ResultStatus], [ReportDate], [WatchID]) VALUES (2, N'Hazem', N'Authentic - Hands Replaced', CAST(N'2024-01-05' AS Date), 2)
INSERT [dbo].[AuthenticationReport] ([ReportID], [AuthenticatorName], [ResultStatus], [ReportDate], [WatchID]) VALUES (3, N'Ahmed Expert', N'100% Authentic', CAST(N'2024-01-10' AS Date), 3)
SET IDENTITY_INSERT [dbo].[AuthenticationReport] OFF
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([BrandID], [Name], [Country], [FoundedYear]) VALUES (1, N'Rolex', N'Switzerland', 1905)
INSERT [dbo].[Brand] ([BrandID], [Name], [Country], [FoundedYear]) VALUES (2, N'Omega', N'Switzerland', 1848)
INSERT [dbo].[Brand] ([BrandID], [Name], [Country], [FoundedYear]) VALUES (3, N'Patek Philippe', N'Switzerland', 1839)
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[Feature] ON 

INSERT [dbo].[Feature] ([FeatureID], [FeatureName]) VALUES (1, N'Chronograph')
INSERT [dbo].[Feature] ([FeatureID], [FeatureName]) VALUES (2, N'Perpetual Calendar')
INSERT [dbo].[Feature] ([FeatureID], [FeatureName]) VALUES (3, N'Tourbillon')
SET IDENTITY_INSERT [dbo].[Feature] OFF
GO
SET IDENTITY_INSERT [dbo].[Movement] ON 

INSERT [dbo].[Movement] ([MovementID], [CaliberName], [VibrationsPerHour], [BrandID]) VALUES (1, N'Caliber 3135', 28800, 1)
INSERT [dbo].[Movement] ([MovementID], [CaliberName], [VibrationsPerHour], [BrandID]) VALUES (2, N'Caliber 4130', 28800, 1)
INSERT [dbo].[Movement] ([MovementID], [CaliberName], [VibrationsPerHour], [BrandID]) VALUES (3, N'Caliber 321', 18000, 2)
SET IDENTITY_INSERT [dbo].[Movement] OFF
GO
INSERT [dbo].[Part] ([WatchID], [PartName], [Material], [Condition], [OriginalityStatus]) VALUES (1, N'Bezel', N'Aluminum', N'Faded', N'Original')
INSERT [dbo].[Part] ([WatchID], [PartName], [Material], [Condition], [OriginalityStatus]) VALUES (1, N'Bezel Insert', N'Ceramic', N'Mint', N'Original')
INSERT [dbo].[Part] ([WatchID], [PartName], [Material], [Condition], [OriginalityStatus]) VALUES (1, N'Dial', N'Brass', N'Excellent', N'Original')
GO
SET IDENTITY_INSERT [dbo].[Watch] ON 

INSERT [dbo].[Watch] ([WatchID], [SerialNumber], [ModelName], [ProductionYear], [WatchImage], [PurchasePrice], [Status], [BrandID], [MovementID]) VALUES (1, N'RX-11100', N'Submariner', 1990, N'images/1 - Rolex Submariner (1990).png', CAST(8000.00 AS Decimal(18, 2)), N'Available', 1, 1)
INSERT [dbo].[Watch] ([WatchID], [SerialNumber], [ModelName], [ProductionYear], [WatchImage], [PurchasePrice], [Status], [BrandID], [MovementID]) VALUES (2, N'RX-22200', N'Daytona', 1985, N'images/2 - Rolex Daytona (1985).png', CAST(25000.00 AS Decimal(18, 2)), N'Available', 1, 2)
INSERT [dbo].[Watch] ([WatchID], [SerialNumber], [ModelName], [ProductionYear], [WatchImage], [PurchasePrice], [Status], [BrandID], [MovementID]) VALUES (3, N'OM-33300', N'Speedmaster', 1969, N'images/3 - Omega Speedmaster Moonwatch (1969).png', CAST(15000.00 AS Decimal(18, 2)), N'Available', 2, 3)
SET IDENTITY_INSERT [dbo].[Watch] OFF
GO
INSERT [dbo].[Watch_Feature] ([WatchID], [FeatureID]) VALUES (2, 1)
INSERT [dbo].[Watch_Feature] ([WatchID], [FeatureID]) VALUES (2, 6)
INSERT [dbo].[Watch_Feature] ([WatchID], [FeatureID]) VALUES (3, 1)
GO
ALTER TABLE [dbo].[AuctionRecord]  WITH CHECK ADD  CONSTRAINT [FK_Auction_Watch] FOREIGN KEY([WatchID])
REFERENCES [dbo].[Watch] ([WatchID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AuctionRecord] CHECK CONSTRAINT [FK_Auction_Watch]
GO
ALTER TABLE [dbo].[AuthenticationReport]  WITH CHECK ADD  CONSTRAINT [FK_Auth_Watch] FOREIGN KEY([WatchID])
REFERENCES [dbo].[Watch] ([WatchID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AuthenticationReport] CHECK CONSTRAINT [FK_Auth_Watch]
GO
ALTER TABLE [dbo].[Movement]  WITH CHECK ADD  CONSTRAINT [FK_Movement_Brand] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brand] ([BrandID])
GO
ALTER TABLE [dbo].[Movement] CHECK CONSTRAINT [FK_Movement_Brand]
GO
ALTER TABLE [dbo].[Part]  WITH CHECK ADD  CONSTRAINT [FK_Part_Watch] FOREIGN KEY([WatchID])
REFERENCES [dbo].[Watch] ([WatchID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Part] CHECK CONSTRAINT [FK_Part_Watch]
GO
ALTER TABLE [dbo].[Watch]  WITH CHECK ADD  CONSTRAINT [FK_Watch_Brand] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brand] ([BrandID])
GO
ALTER TABLE [dbo].[Watch] CHECK CONSTRAINT [FK_Watch_Brand]
GO
ALTER TABLE [dbo].[Watch]  WITH CHECK ADD  CONSTRAINT [FK_Watch_Movement] FOREIGN KEY([MovementID])
REFERENCES [dbo].[Movement] ([MovementID])
GO
ALTER TABLE [dbo].[Watch] CHECK CONSTRAINT [FK_Watch_Movement]
GO
ALTER TABLE [dbo].[Watch_Feature]  WITH CHECK ADD  CONSTRAINT [FK_WF_Feature] FOREIGN KEY([FeatureID])
REFERENCES [dbo].[Feature] ([FeatureID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Watch_Feature] CHECK CONSTRAINT [FK_WF_Feature]
GO
ALTER TABLE [dbo].[Watch_Feature]  WITH CHECK ADD  CONSTRAINT [FK_WF_Watch] FOREIGN KEY([WatchID])
REFERENCES [dbo].[Watch] ([WatchID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Watch_Feature] CHECK CONSTRAINT [FK_WF_Watch]
GO
USE [master]
GO
